<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwellmass.idc.mapper.IdcTaskHistoryMapper" >
    <resultMap id="BaseResultMap" type="com.iwellmass.idc.model.JobInstance" >
        <id column="EXECUTE_ID" property="id" jdbcType="BIGINT" />
        <result column="TASK_ID" property="jobId" jdbcType="INTEGER" />
        <result column="FIRE_TIME" property="loadDate" jdbcType="TIMESTAMP" />
        <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
        <result column="ACTUAL_FIRE_TIME" property="excuteTime" jdbcType="TIMESTAMP" />
        <result column="COMPLETE_TIME" property="endTime" jdbcType="TIMESTAMP" />
        <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
        <result column="CLASS_NAME" property="contentType" jdbcType="VARCHAR" />
        <result column="OWNER" property="assignee" jdbcType="VARCHAR" />
        <result column="EXECUTE_RESULT" property="status" jdbcType="VARCHAR" />
        <result column="TRIGGER_TYPE" property="type" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
      EXECUTE_ID,TASK_ID,FIRE_TIME,START_TIME,COMPLETE_TIME, TASK_NAME,CLASS_NAME,OWNER,TRIGGER_TYPE
    </sql>

    <select id="findAllTaskInstance" resultMap="BaseResultMap">
        SELECT
        TH.EXECUTE_ID,TH.TASK_ID,TH.FIRE_TIME,TH.START_TIME,TH.COMPLETE_TIME,T.TASK_NAME,T.CLASS_NAME,T.OWNER,TH.TRIGGER_TYPE
        FROM DDC_TASK_EXECUTE_HISTORY AS TH JOIN DDC_TASK AS T ON TH.TASK_ID=T.TASK_ID
        ORDER BY EXECUTE_ID DESC
    </select>

    <select id="findTaskInstanceByCondition" resultMap="BaseResultMap">
        SELECT
        TH.EXECUTE_ID,TH.TASK_ID,TH.FIRE_TIME,TH.START_TIME,TH.EXECUTE_RESULT,TH.COMPLETE_TIME,T.TASK_NAME,T.CLASS_NAME,T.OWNER,TH.TRIGGER_TYPE
        FROM DDC_TASK_EXECUTE_HISTORY AS TH JOIN DDC_TASK AS T ON TH.TASK_ID=T.TASK_ID
        <where>
            <if test="job.taskName !=null and job.taskName != '' ">
                AND T.TASK_NAME LIKE CONCAT(CONCAT('%',#{job.name,jdbcType=VARCHAR},'%'))
            </if>
            <if test="job.contentType !=null and job.contentType != ''">
                AND T.CLASS_NAME = #{job.contentType,jdbcType=VARCHAR}
            </if>
            <if test="job.assignee !=null and job.assignee != ''">
                AND T.OWNER= #{job.assignee,jdbcType=VARCHAR}
            </if>
            <if test="job.loadTime !=null and job.loadTime != ''">
                AND T.FIRE_TIME= #{job.loadTime,jdbcType=TIMESTAMP}
            </if>
            <if test="job.excuteTime !=null and job.excuteTime != ''">
                AND T.ACTUAL_FIRE_TIME= #{job.excuteTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY EXECUTE_ID DESC
        LIMIT #{pager.page},#{pager.limit}
    </select>
    <select id="findAllTaskInstanceByCondition" resultMap="BaseResultMap">
        SELECT
        TH.EXECUTE_ID,TH.TASK_ID,TH.FIRE_TIME,TH.START_TIME,TH.COMPLETE_TIME,TH.EXECUTE_RESULT,TH.EXECUTE_RESULT,T.TASK_NAME,T.CLASS_NAME,T.OWNER,TH.TRIGGER_TYPE
        FROM DDC_TASK_EXECUTE_HISTORY AS TH JOIN DDC_TASK AS T ON TH.TASK_ID=T.TASK_ID
        <where>
            <if test="taskName !=null and taskName != '' ">
                AND T.TASK_NAME LIKE CONCAT(CONCAT('%',#{name,jdbcType=VARCHAR},'%'))
            </if>
            <if test="contentType !=null and contentType != ''">
                AND T.CLASS_NAME = #{contentType,jdbcType=VARCHAR}
            </if>
            <if test="assignee !=null and assignee != ''">
                AND T.OWNER= #{assignee,jdbcType=VARCHAR}
            </if>
            <if test="loadTime !=null and loadTime != ''">
                AND T.FIRE_TIME= #{job.loadTime,jdbcType=TIMESTAMP}
            </if>
            <if test="excuteTime !=null and excuteTime != ''">
                AND T.ACTUAL_FIRE_TIME= #{excuteTime,jdbcType=TIMESTAMP}
            </if>
        </where>
       ORDER BY EXECUTE_ID DESC
    </select>
</mapper>