<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwellmass.idc.mapper.IdcTaskMapper" >
    <resultMap id="BaseResultMap" type="com.iwellmass.idc.model.Job" >
        <id column="TASK_ID" property="id" jdbcType="INTEGER" />
        <result column="PARAMETERS" property="taskId" jdbcType="VARCHAR" typeHandler="com.iwellmass.dispatcher.admin.TaskIdTypeHandler"/>
        <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
        <result column="TASK_TYPE" property="taskType" jdbcType="INTEGER" typeHandler="com.iwellmass.dispatcher.admin.TaskTypeHandler" />
        <result column="CLASS_NAME" property="contentType" jdbcType="VARCHAR" typeHandler="com.iwellmass.dispatcher.admin.ContentTypeHandler" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="OWNER" property="assignee" jdbcType="VARCHAR" />
        <result column="WORKFLOW_ID" property="groupId" jdbcType="INTEGER" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="TASK_STATUS" property="status" jdbcType="INTEGER" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        TASK_ID, TASK_NAME,PARAMETERS,TASK_TYPE,CLASS_NAME,DESCRIPTION,OWNER, WORKFLOW_ID, CREATE_TIME,UPDATE_TIME,TASK_STATUS
    </sql>
    
    <select id="findByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE TASK_ID = #{taskId,jdbcType=INTEGER}
    </select>

    <select id="findAllTasks" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE 1 = 1
        ORDER BY TASK_ID DESC
    </select>

    <select id="findTasksByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        <where>
            <if test="job.taskTypes !=null and job.taskTypes.size() > 0">
                AND TASK_TYPE IN 
               <foreach collection="job.taskTypes" index="index" item="item" open="(" separator="," close=")">
	                #{item,jdbcType=INTEGER,typeHandler=com.iwellmass.dispatcher.admin.TaskTypeHandler}
          		</foreach>
            </if>
            <if test="job.taskName !=null and job.taskName != '' ">
                AND TASK_NAME LIKE CONCAT(CONCAT('%',#{job.taskName,jdbcType=VARCHAR},'%'))
            </if>
            <if test="job.contentType !=null and job.contentType != ''">
                AND CLASS_NAME = #{job.contentType,jdbcType=VARCHAR,typeHandler=com.iwellmass.dispatcher.admin.ContentTypeHandler}
            </if>
            <if test="job.assignee !=null and job.assignee != ''">
               AND OWNER= #{job.assignee,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY TASK_ID DESC
        limit #{pager.page},#{pager.limit}
    </select>

    <select id="findAllTasksByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        <where>
            <if test="taskTypes !=null and taskTypes.size() > 0">
                AND TASK_TYPE IN 
               <foreach collection="taskTypes" index="index" item="item" open="(" separator="," close=")">
	                #{item,jdbcType=INTEGER,typeHandler=com.iwellmass.dispatcher.admin.TaskTypeHandler}
          		</foreach>
            </if>
            <if test="taskName !=null and taskName != '' ">
                AND TASK_NAME = #{taskName,jdbcType=VARCHAR}
            </if>
            <if test="contentType !=null and contentType != ''">
                AND CLASS_NAME = #{contentType,jdbcType=VARCHAR,typeHandler=com.iwellmass.dispatcher.admin.ContentTypeHandler}
            </if>
            <if test="assignee !=null and assignee != ''">
                AND OWNER= #{assignee,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    <select id="findAllWorkflowJob" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE
        	TASK_CATEGOTY = 2
    </select>
    <select id="findWorkflowJob" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE
        	TASK_ID IN
        <foreach collection="taskIds" index="index" item="item" open="(" separator="," close=")">
        	 #{item,jdbcType=INTEGER}
  		</foreach>
    </select>
    
</mapper>