<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwellmass.idc.mapper.IdcTaskMapper" >
    <resultMap id="BaseResultMap" type="com.iwellmass.idc.model.Job" >
        <id column="TASK_ID" property="id" jdbcType="INTEGER" />
        <result column="TASK_ID" property="taskId" jdbcType="INTEGER" />
        <result column="TASK_NAME" property="name" jdbcType="VARCHAR" />
        <result column="CLASS_NAME" property="taskType" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="OWNER" property="assignee" jdbcType="VARCHAR" />
        <result column="WORKFLOW_ID" property="groupId" jdbcType="INTEGER" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        TASK_ID, TASK_NAME,CLASS_NAME,DESCRIPTION,OWNER, WORKFLOW_ID, CREATE_TIME
    </sql>
    <select id="findByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE TASK_ID = #{taskId,jdbcType=INTEGER}
    </select>

    <select id="findAllTasks" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE 1 = 1
    </select>

    <select id="findTaskByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE WORKFLOW_ID = #{id,jdbcType=INTEGER}
    </select>

    <select id="findByTaskName" resultMap="BaseResultMap" parameterType="java.lang.String" >
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE TASK_NAME = #{taskName,jdbcType=VARCHAR}
    </select>

    <select id="findByTaskType" resultMap="BaseResultMap" parameterType="java.lang.String" >
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE CLASS_NAME = #{taskType,jdbcType=VARCHAR}
    </select>

    <select id="findByOwner" resultMap="BaseResultMap" parameterType="java.lang.String" >
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        WHERE OWNER= #{owner,jdbcType=VARCHAR}
    </select>

    <select id="findTasksByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        <where>
            <if test="job.name !=null and job.name != '' ">
                AND TASK_NAME = #{job.name,jdbcType=VARCHAR}
            </if>
            <if test="job.taskType !=null and job.taskType != ''">
                AND CLASS_NAME = #{job.taskType,jdbcType=VARCHAR}
            </if>
            <if test="job.assignee !=null and job.assignee != ''">
               AND OWNER= #{job.assignee,jdbcType=VARCHAR}
            </if>
        </where>
              limit #{pager.page},#{pager.limit}
    </select>

    <select id="findAllTasksByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM DDC_TASK
        <where>
            <if test="name !=null and name != '' ">
                AND TASK_NAME = #{name,jdbcType=VARCHAR}
            </if>
            <if test="taskType !=null and taskType != ''">
                AND CLASS_NAME = #{taskType,jdbcType=VARCHAR}
            </if>
            <if test="assignee !=null and assignee != ''">
                AND OWNER= #{assignee,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


</mapper>