<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwellmass.idc.mapper.JobInstanceMapper" >
  <resultMap id="BaseResultMap" type="com.iwellmass.idc.model.JobInstance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="job_name" property="taskName" jdbcType="VARCHAR" />
    <result column="task_type" property="contentType" jdbcType="VARCHAR" typeHandler="com.iwellmass.dispatcher.admin.ContentTypeHandler" />
    <result column="assignee" property="assignee" jdbcType="VARCHAR" />
    <result column="excute_time" property="excuteTime" jdbcType="TIMESTAMP" />
    <result column="load_time" property="loadDate" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, job_id, job_name, task_type, assignee, excute_time, load_time, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_idc_job_instance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_idc_job_instance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iwellmass.idc.model.JobInstance" >
    insert into t_idc_job_instance (id, job_id, job_name, 
      task_type, assignee, excute_time, 
      load_time, start_time, end_time
      )
    values (#{id,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, #{jobName,jdbcType=VARCHAR}, 
      #{contentType,jdbcType=VARCHAR,typeHandler=com.iwellmass.dispatcher.admin.ContentTypeHandler}, #{assignee,jdbcType=VARCHAR}, #{excuteTime,jdbcType=TIMESTAMP}, 
      #{loadTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iwellmass.idc.model.JobInstance" >
    insert into t_idc_job_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="contentType != null" >
        task_type,
      </if>
      <if test="assignee != null" >
        assignee,
      </if>
      <if test="excuteTime != null" >
        excute_time,
      </if>
      <if test="loadTime != null" >
        load_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=VARCHAR,typeHandler=com.iwellmass.dispatcher.admin.ContentTypeHandler},
      </if>
      <if test="assignee != null" >
        #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="excuteTime != null" >
        #{excuteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loadTime != null" >
        #{loadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iwellmass.idc.model.JobInstance" >
    update t_idc_job_instance
    <set >
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        task_type = #{contentType,jdbcType=VARCHAR,typeHandler=com.iwellmass.dispatcher.admin.ContentTypeHandler},
      </if>
      <if test="assignee != null" >
        assignee = #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="excuteTime != null" >
        excute_time = #{excuteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loadTime != null" >
        load_time = #{loadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iwellmass.idc.model.JobInstance" >
    update t_idc_job_instance
    set job_id = #{jobId,jdbcType=INTEGER},
      job_name = #{jobName,jdbcType=VARCHAR},
      task_type = #{contentType,jdbcType=VARCHAR,typeHandler=com.iwellmass.dispatcher.admin.ContentTypeHandler},
      assignee = #{assignee,jdbcType=VARCHAR},
      excute_time = #{excuteTime,jdbcType=TIMESTAMP},
      load_time = #{loadTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>