<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwellmass.idc.app.mapper.JobRuntimeMapper">

	<resultMap id="jobRuntimeListVO" type="com.iwellmass.idc.app.vo.JobRuntimeListVO">
		<result property="jobId" column="jobId" jdbcType="VARCHAR"/>
		<result property="contentType" column="contentType"  jdbcType="VARCHAR"/>
		<result property="jobName" column="jobName"  jdbcType="VARCHAR"/>
		<result property="assignee" column="assignee"  jdbcType="VARCHAR"/>
		<result property="jobGroup" column="jobGroup"  jdbcType="VARCHAR"/>
		<result property="shouldFireTime" column="shouldFireTime" jdbcType="BIGINT"/>
		<result property="nextFireTime" column="nextFireTime"  jdbcType="BIGINT"/>
		<result property="scheduleStatus" column="scheduleStatus" javaType="com.iwellmass.idc.model.ScheduleStatus" jdbcType="VARCHAR"
				typeHandler="com.iwellmass.idc.app.typehandler.ScheduleStatusHandler"/>
		<collection property="barriers" select="selectJobBarrierVO" fetchType="eager" column="jobId=jobId,jobGroup=jobGroup}" />
	</resultMap>

	<select id="selectJobBarrierVO"  resultType="com.iwellmass.idc.app.vo.JobBarrierVO" >
		SELECT
			b.barrier_id,
			b.barrier_group,
			b.barrier_name,
			b.barrier_should_fire_time,
			i.`status` as barrier_status
		FROM
			t_idc_barrier b
			LEFT JOIN t_idc_job_instance i ON b.barrier_id = i.job_id  AND b.barrier_group = i.job_group AND b.barrier_should_fire_time = i.should_fire_time
		WHERE
			b.job_id = #{jobId}
			AND b.job_group = #{jobGroup}
			AND state = 1
	</select>
	
	
	<select id="selectJobRuntimeList" parameterType="com.iwellmass.idc.app.model.JobQuery" resultMap="jobRuntimeListVO">
		SELECT
			j.job_id as jobId,
			j.content_type as contentType,
			j.job_name as jobName,
			j.assignee as assignee,
			j.job_group as jobGroup,
			COALESCE(t.PREV_FIRE_TIME,-1) AS shouldFireTime,
			COALESCE(t.NEXT_FIRE_TIME,-1) AS nextFireTime,
			t.TRIGGER_STATE AS scheduleStatus
		FROM
			t_idc_job j
			LEFT JOIN QRTZ_TRIGGERS t ON j.job_id = t.TRIGGER_NAME 
			AND j.job_group = t.TRIGGER_GROUP
		WHERE 1=1
		    <if test="q!=null">
				<if test="q.jobName!='' and q.jobName!=null">
					AND j.job_name LIKE CONCAT(CONCAT('%', #{q.jobName}), '%')
				</if>
				<if test="q.taskType!=null">
					AND j.task_type = #{q.taskType}
				</if>
				<if test="q.contentType!='' and q.contentType!=null">
					AND j.content_type = #{q.contentType}
				</if>
				<if test="q.assignee!='' and q.assignee!=null">
					AND j.assignee = #{q.assignee}
				</if>
			</if>
	</select>
	
	<select id="selectJobRuntime" resultType="com.iwellmass.idc.app.vo.JobRuntime">
		select * from t_idc_job where job_id = #{jobId} and job_group=#{jobGroup}
	</select>
</mapper>