<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>查询条件
        </div>
        <div class="tools">
            <a class="collapse" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <!-- BEGIN FORM-->
            <form role="form" class="form-horizontal" method="post" id="queryform"
                  onsubmit="return false;">
                <div class=" col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="col-md-2 control-label">时间范围:</label>
                        <div class="col-md-10">
                            <date-range  start-time="queryCondition.beginTime"
                                        end-time="queryCondition.endTime"></date-range>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-md-2 col-lg-4  control-label">应用编号:</label>
                        <div class="col-md-10 col-lg-8">
                            <input type="text" class="input-medium form-control"
                                   ng-model="queryCondition.appId">
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-md-2 col-lg-4 control-label">任务编号:</label>
                        <div class="col-md-10 col-lg-8">
                            <input type="text" class="input-medium form-control"
                                   ng-model="queryCondition.taskId">
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 col-lg-3 col-lg-offset-9">
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2 col-lg-offset-4">
                            <button class="btn green control-label " type="submit"
                                    ng-click="tableParams.search()"><i
                                    class="fa fa-search"></i>查询
                            </button>
                            <button class="btn blue control-label " type="submit"
                                    ng-click="resetForm()"><i
                                    class="fa fa-rotate-left "></i>重置
                            </button>
                        </div>
                    </div>
                </div>


            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list-ul"></i>报警历史列表
        </div>

    </div>
    <div class="portlet-body">
        <table ng-table="tableParams"
               class="table table-bordered table-striped table-condensed">
            <tr ng-repeat="row in rows">
                <td class="text-center" data-title="'报警时间'"
                    ng-bind-html="row.alarmDate|date:'yyyy-MM-dd HH:mm:ss'">
                </td>
                <td class="text-center" data-title="'应用编号'"
                    ng-bind-html="row.appId">
                </td>
                <td class="text-center" data-title="'任务编号'"
                    ng-bind-html="row.taskId">
                </td>
                <!--<td class="text-center" data-title="'报警编码'"-->
                    <!--ng-bind-html="row.alarmKey">-->
                <!--</td>-->
                <td  data-title="'报警内容'">
                    <tips class="ddc-text-overflow" style="width: 100%;" tips-title="row.content"></tips>
                </td>
                <td class="text-center" data-title="'接收者'" ng-bind-html="row.receivers">
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/ng-template" id="dateRange.html">
    <div class="input-group ddc-date-range" >
        <input type="text" class="form-control text-center" disabled="true" value="{{ startTime }} - {{ endTime }}">
            <span class="input-group-btn">
                <button class="btn default date-range-toggle" type="button">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
    </div>
</script>