<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ddcDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url">
            <value>${ddc.url}</value>
        </property>
        <property name="username">
            <value>${ddc.username}</value>
        </property>
        <property name="password">
            <value>${ddc.password}</value>
        </property>
        <property name="initialSize">
            <value>${ddc.initialSize}</value>
        </property>
        <property name="minIdle">
            <value>${ddc.minIdle}</value>
        </property>
        <property name="maxActive">
            <value>${ddc.maxActive}</value>
        </property>
        <property name="maxWait">
            <value>${ddc.maxWait}</value>
        </property>
        <property name="timeBetweenEvictionRunsMillis">
            <value>${ddc.timeBetweenEvictionRunsMillis}</value>
        </property>
        <property name="minEvictableIdleTimeMillis">
            <value>${ddc.minEvictableIdleTimeMillis}</value>
        </property>
        <property name="validationQuery">
            <value>${ddc.validationQuery}</value>
        </property>
        <property name="testWhileIdle">
            <value>${ddc.testWhileIdle}</value>
        </property>
        <property name="testOnBorrow">
            <value>${ddc.testOnBorrow}</value>
        </property>
        <property name="testOnReturn">
            <value>${ddc.testOnReturn}</value>
        </property>
        <property name="filters">
            <value>${ddc.filters}</value>
        </property>
    </bean>

    <bean id="ddcSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ddcDataSource"/>
        <property name="mapperLocations" value="classpath:/mapper/*Mapper.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="ddcSqlSessionFactory"/>
        <property name="basePackage" value="com.iwellmass.dispatcher.common.dao"/>
    </bean>

    <bean id="ddcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ddcDataSource"></property>
    </bean>

</beans>
