<div class="row">
    <div class="col-md-12" align="center">
        <h3 ng-bind-html="system.loginUser.userName+'，欢迎登录！！！'"></h3>
    </div>
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase">加入的应用</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle green" ng-click="showApplicationModal()">创建应用
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table ng-table="tableParams" class="table table-bordered table-striped table-condensed">
                    <!--template-pagination="tablePager.html">-->
                    <tr ng-repeat="row in rows" ng-form="rowForm">
                        <td class="text-center" data-title="'应用名称'" width="15%" ng-bind-html="row.appName"></td>
                        <td class="text-center" data-title="'应用编码'" ng-bind-html="row.appKey"></td>
                        <td class="text-center" data-title="'报警'">
                            <a ng-if="row.enableAlarm" class="btn btn-xs green">接收</a>
                            <a ng-if="!row.enableAlarm" class="btn btn-xs red">不接收</a>
                        </td>
                        <td class="text-center" data-title="'创建人'" ng-bind-html="row.updateUser"></td>
                        <td class="text-center" data-title="'创建时间'"
                            ng-bind-html="row.createTime|date:'yyyy-MM-dd HH:mm:ss' "></td>
                        <td class="text-center" data-title="'修改人'" ng-bind-html="row.createUser "></td>
                        <td class="text-center" data-title="'修改时间'"
                            ng-bind-html="row.updateTime|date:'yyyy-MM-dd HH:mm:ss' "></td>
                        <td class="text-center" data-title="'操作'">
                            <a class="btn btn-xs yellow" ui-sref="node({ appId: row.appId })">
                                <i class="fa fa-bars"></i>实例管理</a>
                            <a class="btn btn-xs blue" ng-click="showApplicationModal(row)">
                                <i class="fa fa-edit"></i>应用编辑</a>
                            <a class="btn btn-xs green" ng-click="showUserManageModal(row)">
                                <i class="fa fa-edit"></i>人员管理</a>
                            <a ng-if="row.enableAlarm" class="btn btn-xs red" ng-click="enableAlarm(row.appId,false)"><i
                                    class="fa fa-bell-slash"/>不接收报警</a>
                            <a ng-if="!row.enableAlarm" class="btn btn-xs green" ng-click="enableAlarm(row.appId,true)"><i
                                    class="fa fa-bell"/>接收报警</a>
                            <a class="btn btn-xs red" ng-click="deleteApplication(row)">
                                <i class="fa fa-times"></i>删除应用</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-film"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase">调度接入指南</span>
                </div>
                <div class="actions"></div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-center">
                            <a href="http://wiki.dmall.com:8090/pages/viewpage.action?pageId=14617308" target="_blank">
                                <i class="fa fa-reorder"> 接入指南</i>
                            </a>
                        </h2>
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-center">
                            <a href="http://wiki.dmall.com:8090/pages/viewpage.action?pageId=14617310" target="_blank">
                                <i class="fa fa-reorder"> 最佳实践</i>
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="applicationModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"></button>
            <h4 class="modal-title">{{ headerTitle }}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal" novalidate="novalidate" name="ngForm">
                    <div class="form-body">
                        <div class="form-group ">
                            <label class="col-md-3 control-label">应用名称
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="app.appName" required></div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-3 control-label">应用编码 </label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" disabled ng-model="app.appKey"
                                       placeholder="系统自动生成"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" f> 应用描述
                                <span>*</span>
                            </label>
                            <div class="col-md-7">
                                <textarea class="form-control" ng-model="app.appDescription" rows="3"></textarea>
                                <div class="form-control-focus"></div>
                                <span class="help-block">填写应用描述，字数在50以内</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey-salsa btn-outline" ng-click="cancel()">取消</button>
            <button type="button" class="btn btn-success" ng-disabled="ngForm.$invalid " ng-click="ok()">保存</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="userManageModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"></button>
            <h4 class="modal-title">人员管理</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal" novalidate="novalidate" name="ngForm">
                    <div class="form-body">
                        <div class="form-group ">
                            <label class="col-md-3 control-label">应用名称
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="app.appName" disabled></div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-3 control-label">应用编码 </label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" disabled ng-model="app.appKey"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" f> 应用描述
                                <span>*</span>
                            </label>
                            <div class="col-md-7">
                                <textarea class="form-control" ng-model="app.appDescription" rows="3"
                                          disabled></textarea>
                                <div class="form-control-focus"></div>
                                <span class="help-block">填写应用描述，字数在50以内</span>
                            </div>
                        </div>
                        <div class="portlet light solid">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-users"></i>项目组员
                                </div>
                                <div class="tools">
                                    <button class="btn btn-circle btn-sm" type="button" ng-click="showAddUserModal()">
                                        <i class="fa fa-user-plus"></i>添加
                                    </button>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table ng-table="tableParams"
                                       class="table table-bordered table-striped table-condensed">
                                    <tr ng-repeat="row in rows">
                                        <td class="text-center" data-title="'姓名'" ng-bind-html="row.userName"></td>
                                        <td class="text-center" data-title="'erpID'" ng-bind-html="row.userId"></td>
                                        <td class="text-center" data-title="'手机'" ng-bind-html="row.userPhone"></td>
                                        <td class="text-center" data-title="'邮箱'" ng-bind-html="row.userEmail"></td>
                                        <td class="text-center" data-title="'操作'">
                                            <a class="btn btn-xs blue" ng-click="showEditUserModal(row)">
                                                <i class="fa fa-edit"></i>编辑</a>
                                            <a class="btn btn-xs red" ng-click="deleteUser(row)"
                                               ng-hide="row.userName==app.createUser">
                                                <i class="fa fa-times"></i>删除</a>
                                            <a class="btn btn-xs yellow" ng-show="row.userName==app.createUser">创建者</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey-salsa btn-outline" ng-click="cancel()">关闭</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="addUserModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true"></button>
            <h4 class="modal-title">添加人员</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <multi-select selectable="selectable" selection="selection"></multi-select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" ng-click="cancel()">取消</button>
                <button type="button" class="btn btn-success" ng-click="ok()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</script>
<script type="text/ng-template" id="test.html">
    <select multiple class="searchable" name="searchable[]">
        {{selectable}}
    </select>
</script>
<script type="text/ng-template" id="editUserModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">编辑人员信息</h4>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal" id="user_form_search">
                <input type="hidden" name="id" value="">
                <input type="hidden" name="projectId" value="">
                <div class="form-body">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">用户名</label>
                        <div class="col-md-4 ">
                            <input type="text" class="form-control" disabled="true" ng-model="user.userName">
                            <div class="form-control-focus"></div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">手机</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="user.userPhone">
                            <div class="form-control-focus"></div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">邮箱</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="user.userEmail">
                            <div class="form-control-focus"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" ng-click="cancel()">取消</button>
                <button type="button" class="btn btn-success" ng-click="ok()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</script>
<style>
    .ms-container{
        margin: auto;
        color: #4d6b8a;
    }
    input.search-input{
        box-sizing: border-box;
        -moz-box-sizing:border-box;
        width: 100%;
        margin-bottom: 5px;
        height: auto;
        border-radius: 4px 4px 0 0;
    }
    .custom-header {
        text-align: center;
        padding: 3px;
        background: #3598DC;
        color: #fff;
        margin-bottom: 16px;
        border-radius:0 0 4px 4px;
    }
</style>