<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-share font-green"></i>
            <span class="caption-subject font-green bold uppercase">应用信息概览</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="pricing-content-1">
            <div class="row">
                <div class="col-md-4">
                    <div class="price-column-container border-active">
                        <div class="price-table-head bg-blue">
                            <h2 class="no-margin">实例总数</h2>
                        </div>
                        <div class="arrow-down border-top-blue"></div>
                        <div class="price-table-pricing">
                            <h3><a ui-sref="node({ appId: appId })">{{ dataMap.node.running+dataMap.node.stop+dataMap.node.lose }}</a>
                                <span class="price-sign">个</span></h3>
                        </div>
                    </div>
                    <div class="well ">
                        <div class="row">
                            <div class="col-md-4 text-stat text-center">
                                <span class="label label-success"> 运行中 </span>
                                <h3 >{{ dataMap.node.running }}</h3>
                            </div>
                            <div class="col-md-4  text-stat text-center">
                                <span class="label label-warning"> 禁用 </span>
                                <h3 >{{ dataMap.node.stop }}</h3>
                            </div>
                            <div class="col-md-4  text-stat text-center">
                                <span class="label label-danger"> 失联 </span>
                                <h3 >{{ dataMap.node.lose }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-column-container border-active">
                        <div class="price-table-head bg-purple">
                            <h2 class="no-margin">任务总数</h2>
                        </div>
                        <div class="arrow-down border-top-purple"></div>
                        <div class="price-table-pricing">
                            <h3><a ui-sref="task({ appId: appId })">{{ dataMap.task.running + dataMap.task.stop }}</a>
                                <span class="price-sign">个</span></h3>
                        </div>
                    </div>
                    <div class="well ">
                        <div class="row">
                            <div class="col-md-6  text-stat text-center">
                                <span class="label label-success"> 启用</span>
                                <h3>{{ dataMap.task.running }}</h3>
                            </div>
                            <div class="col-md-6  text-stat text-center">
                                <span class="label label-warning"> 停用</span>
                                <h3>{{ dataMap.task.stop }}</h3>
                            </div>
                            <!--<div class="col-md-3 col-sm-3 col-xs-6 text-stat text-center">-->
                                <!--<span class="label label-success"> 最近7天执行任务成功次数</span>-->
                                <!--<h3>$1,134,90.10</h3>-->
                            <!--</div>-->
                            <!--<div class="col-md-3 col-sm-3 col-xs-6 text-stat text-center">-->
                                <!--<span class="label label-danger"> 最近7天执行任务失败次数</span>-->
                                <!--<h3>235090</h3>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-column-container border-active">
                        <div class="price-table-head bg-red">
                            <h2 class="no-margin">今日报警</h2>
                        </div>
                        <div class="arrow-down border-top-red"></div>
                        <div class="price-table-pricing">
                            <h3><a ui-sref="alarmHistory({ appId: appId })">{{ dataMap.alarm.today_alarm }}</a>
                                <span class="price-sign">次</span></h3>
                        </div>
                    </div>
                    <div class="well ">
                        <div class="row">
                            <div class="col-md-12  text-stat text-center">
                                <span class="label label-danger"> 历史报警</span>
                                <h3>{{ dataMap.alarm.amount_alarm }}</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" style="width: 100%;height:300px;"></div>
    </div>
</div>
<style>
    text {
        font: 12px sans-serif;
    }
    .nv-axislabel , .nv-series text{
        font-family: "微软雅黑" !important;
    }
</style>
<script>
    var expandLegend = function() {
        var exp = chart.legend.expanded();
        chart.legend.expanded(!exp);
        chart.update();
    }
</script>

