<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>查询条件
        </div>
        <div class="tools">
            <a class="collapse" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <!-- BEGIN FORM-->
            <form role="form" class="form-horizontal" method="post" id="queryform"
                  onsubmit="return false;">

                <div class="row">
                    <div class=" col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-2 col-lg-4 control-label">任务编号:</label>
                            <div class="col-md-10 col-lg-8">
                                <input type="text" class="form-control  input-medium"
                                       ng-model="queryCondition.task.taskId">
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-2 col-lg-4  control-label">任务类型:</label>
                            <div class="col-md-10 col-lg-8">
                                <select class="form-control input-medium"
                                        ng-options="item.value as item.key for item in taskTypeOptions"
                                        ng-model="queryCondition.task.taskType">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-2 col-lg-4  control-label">任务名称: </label>
                            <div class="col-md-10 col-lg-8">
                                <input type="text" class="form-control input-medium"
                                       ng-model="queryCondition.task.taskName">
                            </div>
                        </div>
                    </div>


                    <div class=" col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-2 col-lg-4  control-label">类名:</label>
                            <div class="col-md-10 col-lg-8">
                                <input type="text" class="input-medium form-control"
                                       ng-model="queryCondition.task.className">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class=" col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">时间范围:</label>
                            <div class="col-md-10">
                                <date-range start-time="queryCondition.beginTime"
                                            end-time="queryCondition.endTime"></date-range>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6 col-lg-6 ">
                        <div class="form-group">
                            <div class="col-md-10 col-lg-4 col-md-offset-2 col-lg-offset-8">
                                <button class="btn green control-label " type="submit"
                                        ng-click="tableParams.search()"><i
                                        class="fa fa-search"></i>查询
                                </button>
                                <button class="btn blue control-label " type="submit"
                                        ng-click="resetForm()"><i
                                        class="fa fa-rotate-left "></i>重置
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list-ul"></i>任务执行统计列表
        </div>

    </div>
    <div class="portlet-body">
        <table ng-table="tableParams"
               class="table table-bordered table-striped table-condensed">
            <!--template-pagination="tablePager.html">-->
            <tr ng-repeat="row in rows" ng-form="rowForm">
                <td class="text-center" data-title="'任务编号'"
                    ng-bind-html="row.task.taskId">
                </td>
                <td class="ddc-white-space-nowrap" data-title="'任务名称'"
                    ng-bind-html="row.task.taskName">
                </td>
                <td class="ddc-white-space-nowrap" data-title="'类名'" ng-bind-html="row.task.className">
                </td>
                <td class="text-center" data-title="'任务类型'" ng-bind-html="row.task.taskType|taskTypeLabel|trustHtml">
                </td>
                <td class="text-center" data-title="'cron'" ng-bind-html="row.task.cron">
                </td>
                <td class="text-center" data-title="'执行总次数'" ng-bind-html="row.totalCounts">
                </td>
                <td class="text-center" data-title="'成功次数'" ng-bind-html="row.successdCounts">
                </td>
                <td class="text-center" data-title="'失败次数'" ng-bind-html="row.failedCounts">
                </td>
                <td class="text-center" data-title="'成功率'" ng-bind-html="row.successRate">
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/ng-template" id="dateRange.html">
    <div class="input-group ddc-date-range">
        <input type="text" class="form-control text-center " disabled="true" value="{{ startTime }} - {{ endTime }}">
        <span class="input-group-btn">
                <button class="btn default date-range-toggle" type="button">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
    </div>
</script>