<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="#/">
            <img src="/assets/layouts/layout/img/logo_dmall.png" alt="logo" class="logo-default" />
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <span class="page-logo-title">IDC任务调度平台</span>
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="{{settings.layoutPath}}/img/avatar3_small.jpg" />
                    <span class="username username-hide-on-mobile" ng-bind-html="system.loginUser.userName">  </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a ng-click="showUserModal(system.loginUser)">
                            <i class="icon-user"></i> 个人信息 </a>
                    </li>
                    <li>
                        <a ng-click="logout()">
                            <i class="icon-key"></i> 注销</a>
                    </li>
                </ul>
            </li>
            <!-- END QUICK SIDEBAR TOGGLER -->
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->

<script type="text/ng-template" id="userModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">个人信息</h4>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal" id="user_form_search">
                <input type="hidden" name="id" value="">
                <input type="hidden" name="projectId" value="">
                <div class="form-body">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">用户名</label>
                        <div class="col-md-4 ">
                            <input type="text" class="form-control" disabled="true" ng-model="user.userName">
                            <div class="form-control-focus"></div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">erpID</label>
                        <div class="col-md-4 ">
                            <input type="text" class="form-control" disabled="true" ng-model="user.userId">
                            <div class="form-control-focus"></div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">手机</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="user.userPhone">
                            <div class="form-control-focus"></div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">邮箱</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="user.userEmail">
                            <div class="form-control-focus"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" ng-click="cancel()">取消</button>
                <button type="button" class="btn btn-success" ng-click="ok()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</script>