<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<property name="logPath" value="/web/logs/ddc.dmall.com/admin" />
	<property name="logLevel" value="INFO"/>
    <property name="outPattern" value="[%-5p]  %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%c] - %m%n" />
    <property name="maxHistory" value="30" />
    <property name="charSet" value="UTF-8" />
    
    <appender name="DDC_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/ddc_admin_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/ddc_admin_info.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${outPattern}</Pattern>
            <charset>${charSet}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    
    <appender name="DDC_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/ddc_admin_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/ddc_admin_error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${outPattern}</Pattern>
            <charset>${charSet}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    
    <appender name="ASYNC_DDC_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="DDC_INFO" />
    </appender>
    
    <appender name="ASYNC_DDC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="DDC_ERROR" />
    </appender>
     
	<root level="${logLevel}">
		<appender-ref ref="ASYNC_DDC_INFO"/>
		<appender-ref ref="ASYNC_DDC_ERROR"/>
	</root>
</configuration>