<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list-ul"></i>实例列表
        </div>

    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table ng-table="tableParams"
                   class="table table-striped table-bordered table-hover">
                <!--template-pagination="tablePager.html">-->
                <tr ng-repeat="row in rows" ng-form="rowForm" ng-dblclick="showDetailModal(row)">
                    <td class="text-center" header-class="ddc-white-space-nowrap" data-title="'实例IP'" width="15%"
                        ng-bind-html="row.nodeIp">
                    </td>
                    <td class="text-center" header-class="ddc-white-space-nowrap" data-title="'实例端口'"
                        ng-bind-html="row.nodePort">
                    </td>
                    <td class="text-center" header-class="ddc-white-space-nowrap" data-title="'实例编码'"
                        ng-bind-html="row.nodeCode">
                    </td>
                    <td class="text-center" header-class="ddc-white-space-nowrap" data-title="'实例状态'">
                        <span class="label label-default" ng-if="row.nodeStatus == 0"> 禁用 </span>
                        <span class="label label-success" ng-if="row.nodeStatus == 1"> 运行中 </span>
                        <span class="label label-danger" ng-if="row.nodeStatus == 2"> 失联 </span>
                        <span class="label label-warning" ng-if="row.nodeStatus == 3"> 未就绪 </span>
                    </td>
                    <td class="text-center" header-class="ddc-white-space-nowrap" data-title="'运行路径'"
                        ng-bind-html="row.nodePath">
                    </td>
                    <td class="text-center" header-class="ddc-white-space-nowrap" data-title="'SDK版本号'"
                        ng-bind-html="row.sdkVersion">
                    </td>
                    <td class="text-center" header-class="ddc-white-space-nowrap" data-title="'上次启动时间'"
                        ng-bind-html="row.lastStartTime|date:'yyyy-MM-dd HH:mm:ss' ">
                    </td>
                    <td class="text-center" header-class="ddc-white-space-nowrap" data-title="'上次心跳时间'">
                        <div time-pulsate time="row.lastHbTime" pulsate="row.nodeStatus">  </div>
                    </td>
                    <td class="text-center" header-class="ddc-white-space-nowrap" data-title="'操作'">
                        <a class="btn btn-xs green" ng-if="!row.nodeStatus" ng-click="modifyNodeStatus(row.id,1)"><i
                                class="fa fa-play"></i>启用</a>
                        <a class="btn btn-xs red" ng-if="row.nodeStatus" ng-click="modifyNodeStatus(row.id,0)"><i
                                class="fa fa-pause"></i>禁用</a>
                        <a class="btn red btn-xs" ng-if="!row.nodeStatus"  ng-click="deleteNode(row)"><i
                                class="fa fa-times"></i>删除</a>
                        <a class="btn btn-xs green" ng-click="showDetailModal(row)"><i
                                class="fa fa-file-text"></i>实例详情</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="detail.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"></button>
            <h4 class="modal-title">实例详情</h4>

        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="methodAlarmRuleForm" name="methodRuleForm" action="#">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">实例IP:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.nodeIp"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">实例端口:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.nodePort">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">实例编码:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.nodeCode">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">实例状态:</label>
                            <div class="col-md-6">
                                <div class="form-control-static">
                                    <span class="label label-default" ng-if="row.nodeStatus == 0"> 禁用 </span>
                                    <span class="label label-success" ng-if="row.nodeStatus == 1"> 运行中 </span>
                                    <span class="label label-danger" ng-if="row.nodeStatus == 2"> 失联 </span>
                                    <span class="label label-warning" ng-if="row.nodeStatus == 3"> 未就绪 </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">运行路径:</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="3" style="white-space: pre;"
                                          ng-bind-html="row.nodePath" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">任务类名:</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="3" style="white-space: pre;"
                                          ng-bind-html="row.classNames.split(',').join('\n')" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">CPU核心数:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.cpuCores">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">线程数量:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.threads">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">最大内存（进程）:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.totalMemoryProcess+'M'">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">剩余内存（进程）:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.freeMemoryProcess+'M'">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">最大内存（机器）:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.freeMemoryMachine+'M'">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">剩余内存（机器）:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.freeMemoryMachine+'M'">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">机器CPU使用率:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="(row.cpuRatioMachine*100).toFixed(2)+'%'">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">进程CPU使用率:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="(row.cpuRatioProcess*100).toFixed(2)+'%'">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">操作系统名称:</label>
                            <div class="col-md-6">
                                <p class="form-control-static" ng-bind-html="row.osName">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn grey-salsa btn-outline" ng-click="cancel()">关闭</button>
        </div>

    </div>
</script>