<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<property name="logPath" value="/web/logs/ddc.dmall.com/server" />
	<property name="logLevel" value="INFO"/>
    <property name="outPattern" value="[%-5p]  %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%c] - %m%n" />
    <property name="maxHistory" value="30" />
    <property name="charSet" value="UTF-8" />
    
    <appender name="DDC_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/ddc_server_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/ddc_server_info.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${outPattern}</Pattern>
            <charset>${charSet}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    
    <appender name="DDC_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/ddc_server_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/ddc_server_error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${outPattern}</Pattern>
            <charset>${charSet}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    
    <appender name="ASYNC_DDC_INFO" class="ch.qos.logback.classic.AsyncAppender">
   		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->  
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="DDC_INFO" />
    </appender>
    
    <appender name="ASYNC_DDC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="DDC_ERROR" />
    </appender>
     
	<root level="${logLevel}">
		<appender-ref ref="ASYNC_DDC_INFO"/>
		<appender-ref ref="ASYNC_DDC_ERROR"/>
	</root>
</configuration>